In [1]:
import pandas as pd
import numpy as np

In [2]:
path = "Resources/dataset.csv"

In [3]:
df = pd.read_csv(path)

In [4]:
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,9/8/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,10/8/2019,12:30,West Ham,Man City,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,10/8/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,10/8/2019,15:00,Burnley,Southampton,3,0,H,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,10/8/2019,15:00,Crystal Palace,Everton,0,0,D,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93

In [5]:
teams = df["HomeTeam"].unique()

In [6]:
len(teams)

24

In [7]:
numbers = list(range(1,25))

In [8]:
team_codes = dict(zip(numbers,teams))
team_codes

{1: 'Liverpool',
 2: 'West Ham',
 3: 'Bournemouth',
 4: 'Burnley',
 5: 'Crystal Palace',
 6: 'Watford',
 7: 'Tottenham',
 8: 'Leicester',
 9: 'Newcastle',
 10: 'Man United',
 11: 'Arsenal',
 12: 'Aston Villa',
 13: 'Brighton',
 14: 'Everton',
 15: 'Norwich',
 16: 'Southampton',
 17: 'Man City',
 18: 'Sheffield United',
 19: 'Chelsea',
 20: 'Wolves',
 21: 'Fulham',
 22: 'West Brom',
 23: 'Leeds',
 24: 'Brentford'}

In [9]:
df3 = df.replace(teams, numbers)

In [10]:
df3

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,9/8/2019,20:00,1,15,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,10/8/2019,12:30,2,17,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,10/8/2019,15:00,3,18,1,1,D,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,10/8/2019,15:00,4,16,3,0,H,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,10/8/2019,15:00,5,14,0,0,D,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,E0,16/10/2021,15:00,16,23,1,0,H,0,0,...,2.11,-0.25,1.82,2.11,1.84,2.10,1.88,2.16,1.84,2.05
836,E0,16/10/2021,17:30,24,19,0,1,A,0,1,...,1.88,0.75,2.03,1.90,2.03,1.89,2.21,1.92,2.03,1.86
837,E0,17/10/2021,14:00,14,2,0,1,A,0,0,...,1.86,0.00,2.06,1.87,2.07,1.86,2.07,1.88,2.03,1.85
838,E0,17/10/2021,16:30,9,7,2,3,A,1,3,...,2.12,0.50,1.82,2.11,1.82,2.10,1.86,2.15,1.81,2.08
839,E0,18/10/2021,20:00,11,5,2,2,D,1,0,...,1.92,-1.00,2.00,1.80,2.14,1.81,2.16,1.96,2.09,1.80

In [11]:
X = df3.drop(columns=["FTHG","Div","Date","Time","FTHG","FTAG","HTHG","HTAG","HTR","Referee"])

In [12]:
y= df["FTR"]

In [13]:
X = pd.get_dummies(X)

In [14]:
y = y.replace(["H","A","D"],[1,2,3])

In [15]:
y

0      1
1      2
2      3
3      1
4      3
      ..
835    1
836    2
837    2
838    2
839    3
Name: FTR, Length: 840, dtype: int64

In [16]:
X

,HomeTeam,AwayTeam,HS,AS,HST,AST,HF,AF,HC,AC,...,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,FTR_A,FTR_D,FTR_H
0,1,15,15,12,7,5,9,9,11,2,...,1.99,1.94,1.98,1.99,2.07,1.90,1.99,0,0,1
1,2,17,5,14,3,9,6,13,1,1,...,1.95,1.96,1.97,2.07,1.98,1.97,1.92,1,0,0
2,3,18,13,8,3,3,10,19,3,4,...,1.95,1.98,1.95,2.00,1.96,1.96,1.92,0,1,0
3,4,16,10,11,4,3,6,12,2,7,...,2.03,1.89,2.03,1.90,2.07,1.86,2.02,0,0,1
4,5,14,6,10,2,3,16,14,6,2,...,2.08,1.97,1.96,2.03,2.08,1.96,1.93,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,16,23,19,3,5,0,16,14,8,1,...,2.11,1.84,2.10,1.88,2.16,1.84,2.05,0,0,1
836,24,19,17,5,7,1,13,8,5,5,...,1.90,2.03,1.89,2.21,1.92,2.03,1.86,1,0,0
837,14,2,15,16,2,4,3,3,7,9,...,1.87,2.07,1.86,2.07,1.88,2.03,1.85,1,0,0
838,9,7,7,14,1,4,13,4,2,9,...,2.11,1.82,2.10,1.86,2.15,1.81,2.08,1,0,0
839,11,5,17,9,6,6,7,4,6,4,...,1.80,2.14,1.81,2.16,1.96,2.09,1.80,0,1,0

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [19]:
X_train

,HomeTeam,AwayTeam,HS,AS,HST,AST,HF,AF,HC,AC,...,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,FTR_A,FTR_D,FTR_H
71,4,14,9,11,3,2,5,12,7,9,...,2.07,1.87,2.05,1.88,2.09,1.84,2.05,0,0,1
467,20,16,20,7,9,2,14,13,7,4,...,1.90,2.05,1.88,2.06,1.91,2.00,1.88,0,1,0
257,11,9,15,10,7,2,15,9,5,6,...,1.88,2.05,1.88,2.09,1.89,2.02,1.86,0,0,1
67,14,17,12,20,8,9,4,8,5,2,...,2.07,1.81,2.14,1.96,2.17,1.83,2.05,1,0,0
362,7,8,7,24,3,6,15,10,4,13,...,1.87,2.03,1.89,2.07,1.90,2.02,1.86,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,7,13,9,6,3,2,14,13,4,5,...,1.84,2.11,1.84,2.13,1.99,2.02,1.86,0,0,1
352,17,3,8,15,4,3,10,10,3,5,...,1.96,1.96,1.94,1.97,2.10,1.88,2.00,0,0,1
715,22,20,10,20,4,10,17,11,5,6,...,2.16,1.81,2.15,1.81,2.20,1.76,2.13,0,1,0
251,13,6,10,5,2,2,9,12,3,2,...,1.89,2.03,1.90,2.06,1.92,1.98,1.89,0,1,0
292,6,8,8,15,4,2,15,12,2,7,...,2.05,1.81,2.14,1.87,2.18,1.81,2.07,0,1,0

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [21]:
clf = RandomForestClassifier(max_depth=20)

In [22]:
clf.fit(X_train,y_train)

RandomForestClassifier(max_depth=20)

In [23]:
X["HomeTeam"]

0       1
1       2
2       3
3       4
4       5
       ..
835    16
836    24
837    14
838     9
839    11
Name: HomeTeam, Length: 840, dtype: int64

In [28]:
arsenal = X_train.loc[X_train["HomeTeam"] == 11]

In [25]:
drop_columns = ["HomeTeam", "AwayTeam"]

In [29]:
arsenalvspalace = arsenal.loc[arsenal["AwayTeam"] == 5]
arsenalvspalace = arsenalvspalace.drop(columns=drop_columns)
arsenalvspalace

,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,...,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,FTR_A,FTR_D,FTR_H
97,15,10,6,4,18,9,12,5,2,0,...,1.89,2.04,1.88,2.07,1.91,2.02,1.87,0,1,0
839,17,9,6,6,7,4,6,4,1,1,...,1.80,2.14,1.81,2.16,1.96,2.09,1.80,0,1,0
549,11,12,4,2,10,11,7,3,1,1,...,1.97,1.97,1.95,1.97,2.05,1.91,1.97,0,1,0

In [30]:
arsenal = arsenal.drop(columns=drop_columns)

In [31]:
arsenalvspalaceperformace = list(arsenalvspalace.mean())

In [32]:
avg_arsenal_performance = list(arsenal.mean())

In [33]:
final_list = []
for i in range(0, len(arsenalvspalaceperformace)):
    final_list.append((arsenalvspalaceperformace[i]+avg_arsenal_performance[i])/2)

final_list

[13.587719298245615,
 11.206140350877194,
 4.890350877192983,
 4.0131578947368425,
 11.201754385964911,
 9.881578947368421,
 7.416666666666667,
 4.355263157894736,
 1.4824561403508771,
 1.2280701754385965,
 0.039473684210526314,
 0.013157894736842105,
 1.8960964912280702,
 4.121798245614036,
 5.451666666666666,
 1.911052631578947,
 4.134780701754385,
 5.3925,
 1.9230701754385966,
 4.079166666666667,
 5.1482017543859655,
 1.9512719298245615,
 4.189473684210526,
 5.541271929824561,
 1.9166228070175437,
 4.034342105263159,
 5.470833333333333,
 1.916359649122807,
 4.083991228070175,
 5.504561403508772,
 2.008070175438596,
 4.312850877192982,
 5.812894736842106,
 1.9282456140350877,
 4.1255263157894735,
 5.3725000000000005,
 1.7722368421052628,
 2.1430263157894736,
 1.7985526315789473,
 2.2053070175438596,
 1.822456140350877,
 2.2486842105263154,
 1.761798245614035,
 2.1580263157894737,
 -0.75,
 1.956973684210526,
 1.9593421052631579,
 1.9821929824561404,
 1.9463596491228066,
 2.001842105263158,
 1.9906140350877197,
 1.9442982456140352,
 1.9335964912280703,
 1.9403070175438595,
 4.154780701754386,
 5.246096491228071,
 1.9647368421052631,
 4.141315789473683,
 5.204035087719298,
 1.9678508771929824,
 4.061184210526316,
 5.036929824561404,
 2.022061403508772,
 4.243421052631579,
 5.353070175438596,
 1.950657894736842,
 4.046008771929824,
 5.4549122807017545,
 1.987236842105263,
 4.146578947368422,
 5.345921052631578,
 2.078684210526316,
 4.387982456140351,
 5.811491228070176,
 1.9810964912280702,
 4.154780701754386,
 5.238947368421052,
 1.7453070175438594,
 2.1700000000000004,
 1.7754385964912283,
 2.2512719298245614,
 1.8192982456140352,
 2.332587719298245,
 1.7478508771929824,
 2.187368421052632,
 -0.7401315789473684,
 1.9785526315789472,
 1.9205701754385964,
 2.011842105263158,
 1.9192105263157893,
 2.041491228070176,
 2.0020614035087716,
 1.9733333333333332,
 1.9127631578947368,
 0.14473684210526316,
 0.618421052631579,
 0.23684210526315788]

In [34]:
final_list_complete = [11 , 5] + final_list
final_list_complete = np.array(final_list_complete)
final_list_complete = final_list_complete.reshape(-1,1)
len(final_list_complete)

99

In [50]:
prediction_list = [11 , 5] + final_list
prediction_list

[11,
 5,
 13.587719298245615,
 11.206140350877194,
 4.890350877192983,
 4.0131578947368425,
 11.201754385964911,
 9.881578947368421,
 7.416666666666667,
 4.355263157894736,
 1.4824561403508771,
 1.2280701754385965,
 0.039473684210526314,
 0.013157894736842105,
 1.8960964912280702,
 4.121798245614036,
 5.451666666666666,
 1.911052631578947,
 4.134780701754385,
 5.3925,
 1.9230701754385966,
 4.079166666666667,
 5.1482017543859655,
 1.9512719298245615,
 4.189473684210526,
 5.541271929824561,
 1.9166228070175437,
 4.034342105263159,
 5.470833333333333,
 1.916359649122807,
 4.083991228070175,
 5.504561403508772,
 2.008070175438596,
 4.312850877192982,
 5.812894736842106,
 1.9282456140350877,
 4.1255263157894735,
 5.3725000000000005,
 1.7722368421052628,
 2.1430263157894736,
 1.7985526315789473,
 2.2053070175438596,
 1.822456140350877,
 2.2486842105263154,
 1.761798245614035,
 2.1580263157894737,
 -0.75,
 1.956973684210526,
 1.9593421052631579,
 1.9821929824561404,
 1.9463596491228066,
 2.001842105263158,
 1.9906140350877197,
 1.9442982456140352,
 1.9335964912280703,
 1.9403070175438595,
 4.154780701754386,
 5.246096491228071,
 1.9647368421052631,
 4.141315789473683,
 5.204035087719298,
 1.9678508771929824,
 4.061184210526316,
 5.036929824561404,
 2.022061403508772,
 4.243421052631579,
 5.353070175438596,
 1.950657894736842,
 4.046008771929824,
 5.4549122807017545,
 1.987236842105263,
 4.146578947368422,
 5.345921052631578,
 2.078684210526316,
 4.387982456140351,
 5.811491228070176,
 1.9810964912280702,
 4.154780701754386,
 5.238947368421052,
 1.7453070175438594,
 2.1700000000000004,
 1.7754385964912283,
 2.2512719298245614,
 1.8192982456140352,
 2.332587719298245,
 1.7478508771929824,
 2.187368421052632,
 -0.7401315789473684,
 1.9785526315789472,
 1.9205701754385964,
 2.011842105263158,
 1.9192105263157893,
 2.041491228070176,
 2.0020614035087716,
 1.9733333333333332,
 1.9127631578947368,
 0.14473684210526316,
 0.618421052631579,
 0.23684210526315788]

In [53]:
keep_columns = list(X_train.columns)

In [55]:
keep_columns

['HomeTeam',
 'AwayTeam',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'IWH',
 'IWD',
 'IWA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 'VCH',
 'VCD',
 'VCA',
 'MaxH',
 'MaxD',
 'MaxA',
 'AvgH',
 'AvgD',
 'AvgA',
 'B365>2.5',
 'B365<2.5',
 'P>2.5',
 'P<2.5',
 'Max>2.5',
 'Max<2.5',
 'Avg>2.5',
 'Avg<2.5',
 'AHh',
 'B365AHH',
 'B365AHA',
 'PAHH',
 'PAHA',
 'MaxAHH',
 'MaxAHA',
 'AvgAHH',
 'AvgAHA',
 'B365CH',
 'B365CD',
 'B365CA',
 'BWCH',
 'BWCD',
 'BWCA',
 'IWCH',
 'IWCD',
 'IWCA',
 'PSCH',
 'PSCD',
 'PSCA',
 'WHCH',
 'WHCD',
 'WHCA',
 'VCCH',
 'VCCD',
 'VCCA',
 'MaxCH',
 'MaxCD',
 'MaxCA',
 'AvgCH',
 'AvgCD',
 'AvgCA',
 'B365C>2.5',
 'B365C<2.5',
 'PC>2.5',
 'PC<2.5',
 'MaxC>2.5',
 'MaxC<2.5',
 'AvgC>2.5',
 'AvgC<2.5',
 'AHCh',
 'B365CAHH',
 'B365CAHA',
 'PCAHH',
 'PCAHA',
 'MaxCAHH',
 'MaxCAHA',
 'AvgCAHH',
 'AvgCAHA',
 'FTR_A',
 'FTR_D',
 'FTR_H']

In [56]:
prediction_list

[11,
 5,
 13.587719298245615,
 11.206140350877194,
 4.890350877192983,
 4.0131578947368425,
 11.201754385964911,
 9.881578947368421,
 7.416666666666667,
 4.355263157894736,
 1.4824561403508771,
 1.2280701754385965,
 0.039473684210526314,
 0.013157894736842105,
 1.8960964912280702,
 4.121798245614036,
 5.451666666666666,
 1.911052631578947,
 4.134780701754385,
 5.3925,
 1.9230701754385966,
 4.079166666666667,
 5.1482017543859655,
 1.9512719298245615,
 4.189473684210526,
 5.541271929824561,
 1.9166228070175437,
 4.034342105263159,
 5.470833333333333,
 1.916359649122807,
 4.083991228070175,
 5.504561403508772,
 2.008070175438596,
 4.312850877192982,
 5.812894736842106,
 1.9282456140350877,
 4.1255263157894735,
 5.3725000000000005,
 1.7722368421052628,
 2.1430263157894736,
 1.7985526315789473,
 2.2053070175438596,
 1.822456140350877,
 2.2486842105263154,
 1.761798245614035,
 2.1580263157894737,
 -0.75,
 1.956973684210526,
 1.9593421052631579,
 1.9821929824561404,
 1.9463596491228066,
 2.001842105263158,
 1.9906140350877197,
 1.9442982456140352,
 1.9335964912280703,
 1.9403070175438595,
 4.154780701754386,
 5.246096491228071,
 1.9647368421052631,
 4.141315789473683,
 5.204035087719298,
 1.9678508771929824,
 4.061184210526316,
 5.036929824561404,
 2.022061403508772,
 4.243421052631579,
 5.353070175438596,
 1.950657894736842,
 4.046008771929824,
 5.4549122807017545,
 1.987236842105263,
 4.146578947368422,
 5.345921052631578,
 2.078684210526316,
 4.387982456140351,
 5.811491228070176,
 1.9810964912280702,
 4.154780701754386,
 5.238947368421052,
 1.7453070175438594,
 2.1700000000000004,
 1.7754385964912283,
 2.2512719298245614,
 1.8192982456140352,
 2.332587719298245,
 1.7478508771929824,
 2.187368421052632,
 -0.7401315789473684,
 1.9785526315789472,
 1.9205701754385964,
 2.011842105263158,
 1.9192105263157893,
 2.041491228070176,
 2.0020614035087716,
 1.9733333333333332,
 1.9127631578947368,
 0.14473684210526316,
 0.618421052631579,
 0.23684210526315788]

In [58]:
len(prediction_list)

99

In [59]:
len(keep_columns)

99

In [70]:
new_dict = dict(zip(keep_columns, prediction_list))
new_dict

{'HomeTeam': 11,
 'AwayTeam': 5,
 'HS': 13.587719298245615,
 'AS': 11.206140350877194,
 'HST': 4.890350877192983,
 'AST': 4.0131578947368425,
 'HF': 11.201754385964911,
 'AF': 9.881578947368421,
 'HC': 7.416666666666667,
 'AC': 4.355263157894736,
 'HY': 1.4824561403508771,
 'AY': 1.2280701754385965,
 'HR': 0.039473684210526314,
 'AR': 0.013157894736842105,
 'B365H': 1.8960964912280702,
 'B365D': 4.121798245614036,
 'B365A': 5.451666666666666,
 'BWH': 1.911052631578947,
 'BWD': 4.134780701754385,
 'BWA': 5.3925,
 'IWH': 1.9230701754385966,
 'IWD': 4.079166666666667,
 'IWA': 5.1482017543859655,
 'PSH': 1.9512719298245615,
 'PSD': 4.189473684210526,
 'PSA': 5.541271929824561,
 'WHH': 1.9166228070175437,
 'WHD': 4.034342105263159,
 'WHA': 5.470833333333333,
 'VCH': 1.916359649122807,
 'VCD': 4.083991228070175,
 'VCA': 5.504561403508772,
 'MaxH': 2.008070175438596,
 'MaxD': 4.312850877192982,
 'MaxA': 5.812894736842106,
 'AvgH': 1.9282456140350877,
 'AvgD': 4.1255263157894735,
 'AvgA': 5.3725000000000005,
 'B365>2.5': 1.7722368421052628,
 'B365<2.5': 2.1430263157894736,
 'P>2.5': 1.7985526315789473,
 'P<2.5': 2.2053070175438596,
 'Max>2.5': 1.822456140350877,
 'Max<2.5': 2.2486842105263154,
 'Avg>2.5': 1.761798245614035,
 'Avg<2.5': 2.1580263157894737,
 'AHh': -0.75,
 'B365AHH': 1.956973684210526,
 'B365AHA': 1.9593421052631579,
 'PAHH': 1.9821929824561404,
 'PAHA': 1.9463596491228066,
 'MaxAHH': 2.001842105263158,
 'MaxAHA': 1.9906140350877197,
 'AvgAHH': 1.9442982456140352,
 'AvgAHA': 1.9335964912280703,
 'B365CH': 1.9403070175438595,
 'B365CD': 4.154780701754386,
 'B365CA': 5.246096491228071,
 'BWCH': 1.9647368421052631,
 'BWCD': 4.141315789473683,
 'BWCA': 5.204035087719298,
 'IWCH': 1.9678508771929824,
 'IWCD': 4.061184210526316,
 'IWCA': 5.036929824561404,
 'PSCH': 2.022061403508772,
 'PSCD': 4.243421052631579,
 'PSCA': 5.353070175438596,
 'WHCH': 1.950657894736842,
 'WHCD': 4.046008771929824,
 'WHCA': 5.4549122807017545,
 'VCCH': 1.987236842105263,
 'VCCD': 4.146578947368422,
 'VCCA': 5.345921052631578,
 'MaxCH': 2.078684210526316,
 'MaxCD': 4.387982456140351,
 'MaxCA': 5.811491228070176,
 'AvgCH': 1.9810964912280702,
 'AvgCD': 4.154780701754386,
 'AvgCA': 5.238947368421052,
 'B365C>2.5': 1.7453070175438594,
 'B365C<2.5': 2.1700000000000004,
 'PC>2.5': 1.7754385964912283,
 'PC<2.5': 2.2512719298245614,
 'MaxC>2.5': 1.8192982456140352,
 'MaxC<2.5': 2.332587719298245,
 'AvgC>2.5': 1.7478508771929824,
 'AvgC<2.5': 2.187368421052632,
 'AHCh': -0.7401315789473684,
 'B365CAHH': 1.9785526315789472,
 'B365CAHA': 1.9205701754385964,
 'PCAHH': 2.011842105263158,
 'PCAHA': 1.9192105263157893,
 'MaxCAHH': 2.041491228070176,
 'MaxCAHA': 2.0020614035087716,
 'AvgCAHH': 1.9733333333333332,
 'AvgCAHA': 1.9127631578947368,
 'FTR_A': 0.14473684210526316,
 'FTR_D': 0.618421052631579,
 'FTR_H': 0.23684210526315788}

In [71]:
new_df = pd.DataFrame(new_dict, index=[0])
new_df

,HomeTeam,AwayTeam,HS,AS,HST,AST,HF,AF,HC,AC,...,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,FTR_A,FTR_D,FTR_H
0,11,5,13.587719,11.20614,4.890351,4.013158,11.201754,9.881579,7.416667,4.355263,...,1.92057,2.011842,1.919211,2.041491,2.002061,1.973333,1.912763,0.144737,0.618421,0.236842

In [43]:
X_test

,HomeTeam,AwayTeam,HS,AS,HST,AST,HF,AF,HC,AC,...,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,FTR_A,FTR_D,FTR_H
436,13,22,5,9,3,3,14,7,6,2,...,2.06,1.87,2.07,1.95,2.09,1.87,2.02,0,1,0
637,14,16,7,9,1,1,13,9,4,10,...,2.04,1.90,2.03,1.90,2.15,1.86,2.03,0,0,1
490,10,17,11,9,2,2,13,6,4,3,...,1.94,1.99,1.93,2.02,1.95,1.97,1.91,0,1,0
37,4,1,7,15,2,7,10,16,6,4,...,2.03,1.92,2.02,1.96,2.05,1.89,2.00,1,0,0
119,1,17,12,18,5,3,10,5,4,13,...,1.91,2.01,1.93,2.04,2.08,1.98,1.90,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,13,5,24,12,8,3,8,9,8,7,...,2.00,1.93,2.00,1.95,2.03,1.89,1.98,1,0,0
535,14,2,10,11,2,5,9,7,5,4,...,1.94,1.98,1.94,2.00,2.16,1.93,1.95,1,0,0
703,18,13,7,17,3,4,13,7,2,12,...,2.11,1.83,2.12,1.87,2.13,1.83,2.05,0,0,1
195,4,10,8,14,1,5,17,10,5,4,...,1.89,2.02,1.91,2.05,1.93,1.98,1.89,1,0,0
594,7,19,7,18,2,2,20,14,2,7,...,2.01,1.93,1.99,1.95,2.07,1.89,1.99,1,0,0

In [44]:
clf.predict(X_test.loc[[436]])

array([3], dtype=int64)

In [72]:
clf.predict(new_df)

array([3], dtype=int64)

In [46]:
type(X_test.loc[[436]])

pandas.core.frame.DataFrame

In [72]:
clf.score(X_test,y_test)

1.0

In [65]:
predictions = clf.predict(X_test)

In [67]:
predictions

array([1, 3, 3, 1, 2, 3, 3, 1, 1, 2, 2, 1, 3, 2, 1, 1, 3, 2, 1, 3, 2, 3,
       2, 1, 2, 2, 1, 2, 1, 2, 2, 1, 1, 2, 2, 2, 3, 1, 2, 1, 1, 1, 3, 3,
       2, 2, 1, 2, 3, 2, 2, 2, 2, 3, 2, 2, 2, 2, 1, 1, 2, 3, 2, 1, 2, 2,
       2, 3, 1, 1, 2, 2, 2, 1, 3, 1, 2, 2, 1, 2, 2, 2, 2, 3, 3, 1, 3, 3,
       3, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 3, 1, 3, 2, 3, 1, 2, 1, 2, 1,
       3, 2, 1, 1, 2, 2, 1, 1, 1, 3, 3, 1, 2, 3, 3, 2, 2, 2, 2, 2, 1, 3,
       2, 2, 1, 1, 1, 1, 2, 2, 2, 2, 1, 2, 1, 2, 2, 3, 2, 3, 2, 2, 1, 2,
       2, 2, 3, 3, 2, 3, 1, 3, 3, 1, 2, 1, 2, 2, 1, 2, 2, 3, 3, 1, 1, 1,
       3, 2, 1, 3, 2, 1, 3, 3, 1, 2, 2, 1, 2, 3, 1, 2, 1, 2, 2, 1, 2, 3,
       3, 1, 1, 3, 1, 1, 3, 3, 1, 3, 2, 1, 1, 3, 1, 3, 3, 1, 2, 3, 3, 1,
       2, 2, 3, 3, 3, 2, 3, 3, 1, 2, 2, 2, 1, 2, 1, 2, 2, 1, 1, 2, 2, 1,
       2, 1, 1, 1, 1, 2, 3, 1, 1, 3, 2, 2, 3, 1, 2, 1, 1, 3, 2, 1, 2, 1,
       2, 2, 2, 2, 3, 1, 1, 1, 1, 1, 2, 2, 1, 3], dtype=int64)

In [64]:
y_test

560    1
158    3
478    3
243    1
837    2
      ..
260    1
430    2
551    2
324    1
820    3
Name: FTR, Length: 278, dtype: int64